---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Comment from "../../components/Comment.astro";
---

<BaseLayout title="論文のコメント - Keita Tsuji">
    <h1>論文のコメント</h1>
    <Comment arxivId="未定" title="近日公開" supplement="with Ippo Orii">
        近日公開です。
    </Comment>
</BaseLayout>
