---
import { getRelativeLocaleUrl } from "astro:i18n";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ExtLink from "../../components/ExtLink.astro";
---

<BaseLayout title="研究 - Keita Tsuji">
    <h1>研究</h1>
    <h2>論文</h2>
    <a href={getRelativeLocaleUrl("ja", "comments")}>論文のコメント</a>
    <ul class="papers">
        <li>
            <span class="title"
                >Web of dualities on non-orientable surfaces</span
            >, <ExtLink href="https://arxiv.org/abs/2601.09067"
                >arxiv:2601.09067</ExtLink
            >
        </li>
    </ul>
    <h2>解説記事</h2>
    <h3>
        [<ExtLink
            href="https://event.phys.s.u-tokyo.ac.jp/physlab2023/pdf/mat-article03.pdf"
            >pdf</ExtLink
        >] Geometric Quantization (Japanese)
    </h3>
    <p>
        <a
            href="https://event.phys.s.u-tokyo.ac.jp/physlab2023/"
            target="_blank"
            rel="noopener noreferrer">Physics Lab. 2023</a
        >で発表した幾何学的量子化の解説記事です。
    </p>
    <style>
        h2 {
            margin-top: 1em;
        }
        h3 {
            margin-top: 0.5em;
        }
        .title {
            font-weight: bold;
        }
        .papers li {
            font-size: 20px;
        }
    </style>
</BaseLayout>
