---
import { getRelativeLocaleUrl } from "astro:i18n";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="論文のコメント - Keita Tsuji">
    <h1>404 NOT FOUND</h1>
    <a href={getRelativeLocaleUrl("en", "")}>Top Page</a>
</BaseLayout>
