---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Works - Keita Tsuji">
    <h1>Works</h1>
    <h2>Articles</h2>
    <h3>
        [<a
            href="https://event.phys.s.u-tokyo.ac.jp/physlab2023/pdf/mat-article03.pdf"
            target="_blank"
            rel="noopener noreferrer">pdf</a
        >] Geometric Quantization (Japanese)
    </h3>
    <style>
        h2 {
            margin-top: 1em;
        }
        h3 {
            margin-top: 0.5em;
        }
    </style>
</BaseLayout>
