<footer>
    <div>keita.tsuji[at]ipmu.jp</div>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3em;
        background-color: #293241;
        color: white;
        font-size: 20px;
        flex: none;
    }
</style>
