---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { Locale } from "../i18n/ui";

type Props = {
    locale: Locale;
};

const { locale } = Astro.props;
const otherLocale = locale === "en" ? ("ja" as const) : ("en" as const);
---

<a href={getRelativeLocaleUrl(otherLocale, "")}>
    {otherLocale === "en" ? "English" : "日本語"}
</a>

<style>
    a {
        text-decoration: none;
        color: white;
    }
</style>
